.item-section{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1vh 1vw;
    gap: 1vw;
    margin: 0 auto
}
.card{
    width: 20%;
    outline: 1px solid black;
    align-items: center;
}

.shop-divider {
    width: 100%;
    border-top: 2px solid grey;
}